<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div id="hot-post" class="row hot-post">
            <div class="col-md-8 hot-post-left">
                <!-- post -->
                <div class="post post-thumb">
                    <a class="post-img" href="/blog/<%-blogs[0].seoUrl%>"><img src="/upload/images/blog-images/<%-blogs[0].imageUrl%>" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href=""><%-blogs[0].categoryId.name  %> </a>
                        </div>
                        <h3 class="post-title title-lg"><a href="/blog/<%-blogs[0].seoUrl%>"><%-blogs[0].title %> </a></h3>
                        <ul class="post-meta">
                           
                            <li><%-blogs[0].createdAt.toLocaleDateString() %> </li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->
            </div>
            <div class="col-md-4 hot-post-right">
                <!-- post -->
                <div class="post post-thumb">
                    <a class="post-img" href="/blog/<%-blogs[1].seoUrl%>"><img src="/upload/images/blog-images/<%-blogs[1].imageUrl%>" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href=""><%-blogs[1].categoryId.name  %></a>
                        </div>
                        <h3 class="post-title"><a href="/blog/<%-blogs[1].seoUrl%>"><%-blogs[1].title %></a></h3>
                        <ul class="post-meta">
                            
                            <li><%-blogs[1].createdAt.toLocaleDateString() %> </li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->

                <!-- post -->
                <div class="post post-thumb">
                    <a class="post-img" href="/blog/<%-blogs[2].seoUrl%>"><img src="/upload/images/blog-images/<%-blogs[2].imageUrl%>" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href=""><%-blogs[2].categoryId.name  %></a>
                            
                        </div>
                        <h3 class="post-title"><a href="/blog/<%-blogs[2].seoUrl%>"><%-blogs[2].title %></a></h3>
                        <ul class="post-meta">
                            
                            <li><%-blogs[2].createdAt.toLocaleDateString() %> </li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->



<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ad -->
            <div class="col-md-12 section-row text-center">
                <a href="#" style="display: inline-block;margin: auto;">
                    <img class="img-responsive" src="/Home/./img/ad-2.jpg" alt="">
                </a>
            </div>
            <!-- /ad -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->




<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <!-- post -->
                <% blogs.forEach(blog => { %>
                    <div class="post post-row">
                        <a class="post-img" href="/blog/<%-blog.seoUrl%>"><img style="max-width: 250px; max-height: 250px;" src="/upload/images/blog-images/<%-blog.imageUrl%>" alt="<%-blog.tittle %> "></a>
                        <div class="post-body">
                            <div class="post-category">
                               
                                <a href=""><%-blog.categoryId.name%></a>
                            </div>
                            <h3 class="post-title"><a href="/blog/<%-blog.seoUrl%>"><%-blog.title  %> </a></h3>
                            <ul class="post-meta">
                                
                                <li><%-blog.createdAt.toLocaleDateString()   %> </li>
                            </ul>
                            <p><%-blog.description %></p>  
                        </div>
                    </div>
                <% }) %>
               
                <!-- /post -->

              

                <div class="section-row loadmore text-center">
                    <a href="/blog/blogs" class="primary-button">Daha Fazla</a>
                </div>
            </div>
            <div class="col-md-4">
                <%- include("../partials/Home/_RightBar.ejs")  %> 
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
